build*
*.pro
*.swp
*.o
.obj
.moc
*.pro.user*
*.orig
CMakeLists.txt.user
.qmake.stash
*.autosave
*.jp
# *.qrc ?
*.qrc
*.cmake
*.out
executives
CMakeCache.txt
CMakeFiles
*.kdev4
*.png
*.db
*.jpg
*.categories
*.xq
*.diff
*.patch
git
node_modules
package.json
package-lock.json
.clasp.json
venv
env
*.pyproject.user*
.idea
__pycache__
.pytest_cache
file
kaggle
jypyterenv
[a-z]

.coverage
.vscode
